<div class="card">
  <div class="card__body">
    <%= link_to post.text, post_path(post.id), class: :card__title %>
    <p class="card__summary">  
      <%= baseball.content %>
    </p>
  </div>
</div>