<main class="main">
  <div class='first-view'>
    <div class='first-view-comments'>
      <h2 class="overview">飲み仲間を誘おう！<h2>
      <p class="overview-content">好きなお酒や趣味の合う仲間を探そう</p>
    </div>
  </div>
</main>